<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Evaluate a News Article with Natural Language Processing</title>
    </head>
    <body>
        <div id="container">
            <h2>Evaluate a News Article with Natural Language Processing</h2>
            <form action="#">
                <input
                    type="text"
                    required
                    name="user-input"
                    id="user-input"
                    title="Insert a valid url"
                />
                <input type="submit" name="submit" id="submit" />
            </form>
            <div id="result">
                <h3 id="instruction">
                    Insert valid url in the above input field to analyze the
                    text form fetched page
                </h3>
            </div>
        </div>
    </body>
</html>
